
<html>
    <head>
        <title>App CPP</title>
    </head>
    <body>
        <h1>Aplicação CorreçãoPorPar</h1>
        <h2>Avaliação da Resposta de um Aluno</h2>
        <p>
            <u>Diagrama submetido por um colega</u>:<br/>
            <img src="{{ resposta.diagrama.url }}" alt="diagrama"/>
        </p>
        <p>
            <u>Observações</u>: {{ resposta.observacao }}
        </p>
        <hr/>
        <form method="post" action="{% url 'cpp:avalia' resposta.id %}">
            {% csrf_token %}
            <h3>Registre a sua avaliação:</h3>
            <p>Qual a sua nota para o diagrama (0-100):
            <input type="number" name="nota" required/></p>
            <p>Comentários:<br/>
            <textarea name="comentarios" cols="60">Informe aqui os motivos para a nota atribuída...
            </textarea></p>
            <p><input type="submit" value="Registrar a Avaliação"/></p>
        </form>
    </body>
</html>